DB_URL=postgresql://username:password@localhost:5432/dbname
PORT=5001
JWT-SECRET=your-secret
JWT-ALGORITHM=algo-type
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=587
MAIL_SERVER=
CLIENT_URL=
PASSWORD_RESET_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
